<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Industry News</title>
    <link href="../styles/styles.css" rel="stylesheet">
</head>
<body>

    <nav>
        <a id="logo" href="/">IdeaLink.</a>
        <a href="./industryNews.ejs">Industry News</a>
        <a href="./jobOpportunities.ejs">Job Opportunities</a>
        <a href="./resumeSkills.ejs">Resume Skills</a>
        <a href="./interviewSkills.ejs">Interview Skills</a>
        <a id="login" href="./dashboard.ejs">Dashboard</a>
    </nav>

    <h5>Your Dashboard</h5>

    <div id="content">
        <br>
        <a href="">Pending Applications</a>
        <br>
        <a href="">Update CV</a>
        <br>
        <a href="">Update Account Information</a>
        <br>
        <a href="">Log Out</a>
        <br><br>
    </div>

</body>
</html>