<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome to IdeaLink.</title>
    <link href="../styles/styles.css" rel="stylesheet">
</head>
<body>

    <nav>
        <a id="logo" href="/">IdeaLink.</a>
        <a href="./news/5b097b298a61b17921e8448f">Industry News</a>
        <a href="../jobs/5b0a89374d3b2e8194a4de7f">Job Opportunities</a>
        <a href="./resumeSkills.ejs">Resume Skills</a>
        <a href="./interviewSkills.ejs">Interview Skills</a>
        <a id="login" href="./dashboard.ejs">Dashboard</a>
    </nav>

    <div id="splash">
        <h1>IdeaLink.</h1>

        <h2>Linking opportunities with opportunists</h2>
    </div>

    <div id="content">
    </div>

</body>
</html>