<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>IdeaLink</title>
    <link href="../styles/styles.css" rel="stylesheet">
</head>

<body>
<div class="container">

    <div class="credits">Created by Yujia Wang and Kevin Liu</div>

    <h1>IdeaLink.</h1>

    <h2>Linking opportunities with opportunists</h2>

    <div id="box">
        <div id="menu">
            <ul>
                <li><a href="./home.ejs"><h3>Enter</h3></a></li>
            </ul>
        </div>
    </div>



</body>
</html>