<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Job Opportunities</title>
    <link href="../styles/styles.css" rel="stylesheet">
</head>
<body>

    <nav>
        <a id="logo" href="/">IdeaLink.</a>
        <a href="./industryNews.ejs">Industry News</a>
        <a href="./jobOpportunities.ejs">Job Opportunities</a>
        <a href="./resumeSkills.ejs">Resume Skills</a>
        <a href="./interviewSkills.ejs">Interview Skills</a>
        <a id="login" href="./login.ejs">Log In</a>
    </nav>

    <h5>Job Opportunities</h5>

    <div id="content">
        <p>Please log in.</p>
    </div>



</body>
</html>