<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Industry News</title>
    <link href="../styles/styles.css" rel="stylesheet">
</head>
<body>

    <nav>
        <a id="logo" href="/">IdeaLink.</a>
        <a href="./industryNews.ejs">Industry News</a>
        <a href="./jobOpportunities.ejs">Job Opportunities</a>
        <a href="./resumeSkills.ejs">Resume Skills</a>
        <a href="./interviewSkills.ejs">Interview Skills</a>
        <a id="login" href="./login.ejs">Log In</a>
    </nav>

    <h5>Log In</h5>
        <div id="content">
            <div id="loginscreen">
                <form>
                    Email
                    <div class="searchbar">
                        <input type="text" width="20px">
                    </div>
                    <br>
                    Password
                    <div class="searchbar">
                        <input type="text" width="20px">
                    </div>
                    <br>
                    <div class="searchbutton">
                        <input type="submit" value="Log In">
                    </div>
                </form>

                <a href="./register.ejs">Need to make an account?</a>
                <a href="./dashboard.ejs">Bypass login (FOR TESTING)</a>
            </div>
        </div>

</body>
</html>