<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Industry News</title>
    <link href="../styles/styles.css" rel="stylesheet">
</head>
<body>

<nav>
    <a id="logo" href="/">IdeaLink.</a>
    <a href="./industryNews.ejs">Industry News</a>
    <a href="./jobOpportunities.ejs">Job Opportunities</a>
    <a href="./resumeSkills.ejs">Resume Skills</a>
    <a href="./interviewSkills.ejs">Interview Skills</a>
    <a id="login" href="./login.ejs">Log In</a>
</nav>

    <div id="loginscreen">

        <h5>Register</h5>

        <div id="content">
            <div id="loginscreen">
                <form>
                    First Name
                    <div class="searchbar">
                        <input type="text" width="20px">
                    </div>
                    <br>
                    Last Name
                    <div class="searchbar">
                        <input type="text" width="20px">
                    </div>
                    <br>
                    Email
                    <div class="searchbar">
                        <input type="text" width="20px">
                    </div>
                    <br>
                    Password
                    <div class="searchbar">
                        <input type="text" width="20px">
                    </div>
                    <br>
                    Confirm Password
                    <div class="searchbar">
                        <input type="text" width="20px">
                    </div>
                    <br>
                    Age
                    <div class="searchbar">
                        <input type="text" width="20px">
                    </div>
                    <br>
                    Major
                    <div class="searchbar">
                        <input type="text" width="20px">
                    </div>
                    <br>
                    Experience
                    <div class="searchbar">
                        <input type="text" width="20px">
                    </div>
                    <br>
                    <div class="searchbutton">
                        <input type="submit" value="Register">
                    </div>
                </form>
                <a href="./login.ejs">Already have an account?</a>
            </div>
        </div>


</div>

</body>
</html>