<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Resume Skills</title>
    <link href="../styles/styles.css" rel="stylesheet">
</head>
<body>

    <nav>
        <a id="logo" href="../home.ejs">IdeaLink.</a>
        <a href="../news/5b097b298a61b17921e8448f">Industry News</a>
        <a href="../jobs/5b0a89374d3b2e8194a4de7f">Job Opportunities</a>
        <a href="../resumeSkills.ejs">Resume Skills</a>
        <a href="../interviewSkills.ejs">Interview Skills</a>
        <a id="login" href="../dashboard.ejs">Dashboard</a>
    </nav>

    <h5>Resume Skills</h5>
    <div id="content">
        <h4>5 tips to instantly elevate your CV</h4>
        <p>1. Length 2. Experience AND Interests 3. Internships and extracurricular business activities
            4. Presentation 5. LinkedIn</p>
    </div>



</body>
</html>