<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Management Accounting is Getting Popular</title>
    <link href="../styles/styles.css" rel="stylesheet">
</head>
<body>

<nav>
    <a id="logo" href="/">IdeaLink.</a>
    <a href="./industryNews.ejs">Industry News</a>
    <a href="./jobOpportunities.ejs">Job Opportunities</a>
    <a href="./resumeSkills.ejs">Resume Skills</a>
    <a href="./interviewSkills.ejs">Interview Skills</a>
    <a id="login" href="./login.ejs">Log In</a>
</nav>

<h6>Management Accounting is<br><br>Getting Popular</h6>

<br>
<h6>VIDEO GOES HERE</h6>

<br>
<tab><h8>This video is uploaded at 1 pm on 19 Apr 2018 by Professor Lee.
    Recently, there are growing needs for management accounts.</h8></tab>
<tab><h8>This is because companies are gradually focusing on the long-term
    plan, budgting.</h8></tab>
<br>
<tab><h8>More readings are available at https://www.intheblack.com/articles/2018/04/01/australias-defence-boom</h8></tab>

</body>
</html>