<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>IdeaLink</title>
    <link href="../styles/styles.css" rel="stylesheet">

    <script type="text/javascript" src="../controllers/controller.js"></script>
</head>
<body>

<div class="container">

    <div class="credits">Created by Yujia Wang and Kevin Liu</div>

    <h1>IdeaLink.</h1>

    <h2>Linking opportunities with opportunists</h2>

    <h3>Coming Soon</h3>

    <form method="get" action='/' onSubmit="return validateForm();">
        <div style="width: 400px;">
        </div>
        <div>
            <p>Are you a young job-seeker? Here's the place to learn <br/> hand-on skills and connect you with real opportunities!
                <br/>Write down your email here to be notified at once!</p>
                <input type="text" id="data_1" name="data_1" style="width : 300px;" class="form-control"/>
            </div>

        <div style="padding-top: 18px; "><input name="skip_Submit" value="Sign up for updates" type="submit"/></div>
    </form>

</div>

</body>
</html>
